.DS_Store
node_modules/
logs/

/.firebase/
/.firebase-emulator-savedata/
/firebase-export-*

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

*-debug.log

# Firebase Functions Files
functions/node_modules/
functions/coverage/
functions/lib/

# Tarkov Tracker Files
tarkov-tracker/node_modules/
tarkov-tracker/.env
tarkov-tracker/.env.local
tarkov-tracker/.env.*.local
tarkov-tracker/dist/