{
  "openapi": "3.0.0",
  "info": {
    "title": "TarkovTracker API",
    "description": "Official TarkovTracker API - player's progress, objectives, level, reputation and much more in one place. If you are missing something here, let the developers know on TarkovTracker Discord server or create a new issue on GitHub.",
    "version": "2.0",
    "contact": {
      "name": "TarkovTracker GitHub",
      "url": "https://github.com/DysektAI/TarkovTracker"
    },
    "license": {
      "name": "GNU General Public License v3.0",
      "url": "https://www.gnu.org/licenses/gpl-3.0.en.html"
    }
  },
  "servers": [
    {
      "url": "https://tarkovtracker.org/api/v2",
      "description": "TarkovTracker API v2 endpoint"
    }
  ],
  "tags": [
    {
      "name": "Token",
      "description": "Operations related to API tokens"
    },
    {
      "name": "Progress",
      "description": "Operations related to player and team progress"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/test": {
      "get": {
        "summary": "Test endpoint",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/token": {
      "get": {
        "summary": "Returns data associated with the Token given in the Authorization header of the request",
        "tags": [
          "Token"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Token details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "permissions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Permissions associated with the token."
                    },
                    "token": {
                      "type": "string",
                      "description": "The API token string."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing token."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/api/v2/progress": {
      "get": {
        "summary": "Returns progress data of the player",
        "tags": [
          "Progress"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Player progress retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Progress"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string",
                          "description": "The user ID of the requester."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid token or missing 'GP' permission."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/api/v2/team/progress": {
      "get": {
        "summary": "Returns progress data of all members of the team",
        "tags": [
          "Progress"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Team progress retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamProgress"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid token or missing 'TP' permission."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/api/v2/progress/level/{levelValue}": {
      "post": {
        "summary": "Set player level",
        "tags": [
          "Progress"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "levelValue",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The new level value"
          }
        ],
        "responses": {
          "200": {
            "description": "Player level set"
          }
        }
      }
    },
    "/api/v2/progress/task/{taskId}": {
      "post": {
        "summary": "Update a single task",
        "tags": [
          "Progress"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "taskId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Task ID to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task updated"
          }
        }
      }
    },
    "/api/v2/progress/tasks": {
      "post": {
        "summary": "Update multiple tasks",
        "tags": [
          "Progress"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tasks updated"
          }
        }
      }
    },
    "/api/v2/progress/task/objective/{objectiveId}": {
      "post": {
        "summary": "Update task objective",
        "tags": [
          "Progress"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "objectiveId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Objective ID to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task objective updated"
          }
        }
      }
    }
  }
}